* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

span {
  color: #0057fa;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 4rem;
  min-height: 10vh;
  -webkit-transition: 0.20s ease-in-out;
  transition: 0.20s ease-in-out;
  z-index: 10;
  -webkit-animation: navss ease-in-out 0.5s;
          animation: navss ease-in-out 0.5s;
}

nav .title {
  z-index: 1;
  font-size: 1.3rem;
  cursor: pointer;
  padding-top: 0.5rem;
}

@media (max-width: 1000px) {
  nav .title {
    margin: auto 0;
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  nav .title {
    font-size: 1.7rem;
    line-height: 66px;
    padding-top: 0.4rem;
  }
}

@-webkit-keyframes navss {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes navss {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 500px) {
  nav {
    background: -webkit-gradient(linear, left top, right top, from(#0057fa), to(#0077ff));
    background: linear-gradient(90deg, #0057fa, #0077ff);
    color: white;
    -webkit-animation: none;
            animation: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0rem 4rem;
  }
}

nav.navs {
  background: -webkit-gradient(linear, left top, right top, from(#0057fa), to(#0077ff));
  background: linear-gradient(90deg, #0057fa, #0077ff);
  padding: 0rem 2.5rem;
  -webkit-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  nav.navs {
    padding: 0 2rem;
  }
}

nav.navs .title, nav.navs .nav-links li a {
  color: white;
}

nav.navs .nav-links li a:before {
  background: white;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 2rem;
  }
}

.p-bar {
  opacity: 0;
  position: absolute;
  top: -5px;
  right: 0px;
}

@media (max-width: 500px) {
  .p-bar {
    opacity: 1;
  }
}

.p-bar .bars {
  width: 2rem;
  opacity: 0;
  position: absolute;
  top: 1.6rem;
  right: 30px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .p-bar .bars {
    opacity: 1;
  }
}

.nav-links {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 500px) {
  .nav-links {
    padding: 0;
    font-size: 0.9rem;
  }
}

.nav-links.idknav {
  padding-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 60vh;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 500px) {
  .nav-links {
    height: 60vh;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .nav-links li {
    padding: 40px 0;
    text-align: center !important;
  }
}

.nav-links li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  font-weight: 600;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}

.nav-links li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 500px) {
  .nav-links li a:before {
    background: white;
    text-align: center !important;
  }
}

@media (max-width: 500px) {
  .nav-links li a {
    font-size: 1.5rem;
    color: white;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  z-index: 2;
  width: 100%;
  padding: 3rem 4rem;
  background: white;
}

@media (max-width: 1000px) {
  .hero {
    padding: 7rem 0rem 5rem 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.hero .front-cover {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  -webkit-animation: img-hero 0.60s ease-in-out;
          animation: img-hero 0.60s ease-in-out;
}

@media (min-width: 1366px) {
  .hero .front-cover {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 1200px) {
  .hero .front-cover {
    width: 70%;
    padding: 1rem 0;
    height: 70%;
  }
}

@media (max-width: 500px) {
  .hero .front-cover {
    padding: 3rem 0;
    height: 100%;
  }
}

@-webkit-keyframes img-hero {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes img-hero {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .hero .front-cover {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-animation: none;
            animation: none;
  }
}

.hero .front-cover img {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media (max-width: 1200px) {
  .hero .front-cover img {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .hero .front-cover img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.hero .front-desc {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 3;
  -webkit-animation: desc-hero 0.60s ease-in-out;
          animation: desc-hero 0.60s ease-in-out;
}

@media (max-width: 1200px) {
  .hero .front-desc {
    padding: 0 0.4rem;
  }
}

@-webkit-keyframes desc-hero {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes desc-hero {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .hero .front-desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1rem 2rem;
    -webkit-animation: none;
            animation: none;
  }
}

.hero .front-desc #abm {
  padding: 0.7rem 0rem;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#0057fa), to(#0077ff));
  background: linear-gradient(90deg, #0057fa, #0077ff);
  border: none;
  max-width: 25%;
  outline: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.8rem 0;
  cursor: pointer;
}

.hero .front-desc #abm #abm:hover {
  -webkit-animation: colors 0.5s ease-in-out infinite;
          animation: colors 0.5s ease-in-out infinite;
}

@media (max-width: 1000px) {
  .hero .front-desc #abm {
    display: block;
    max-width: 100%;
    margin-top: 1rem;
    padding: 0.8rem 0;
  }
}

.hero .front-desc h2 {
  font-size: 3.5em;
  line-height: 65px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .hero .front-desc h2 {
    line-height: 35px;
  }
}

@media (max-width: 1000px) {
  .hero .front-desc h2 {
    font-size: 2rem;
  }
}

.about {
  background: white;
  position: relative;
  padding: 6rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1000px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5rem 2rem;
  }
}

.about .text {
  position: relative;
  width: 100%;
  height: 100%;
}

.about .text.firsts {
  -webkit-animation: first 0.75s ease-in-out;
          animation: first 0.75s ease-in-out;
}

@media (max-width: 1000px) {
  .about .text.firsts {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes first {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes first {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about .text h2 {
  font-size: 4rem;
  padding: 0;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .about .text h2 {
    font-size: 2.5rem;
  }
}

.about .text p {
  font-size: 1.1rem;
  padding-right: 0.5rem;
  padding-bottom: 0rem;
}

@media (max-width: 1000px) {
  .about .text p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding-bottom: 3rem;
  }
}

.about .pic {
  padding: 0 0 0 2rem;
  position: relative;
  width: 35%;
  height: 100%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 1;
}

.about .pic.seconds {
  -webkit-animation: second 0.75s ease-in-out;
          animation: second 0.75s ease-in-out;
}

@media (max-width: 1000px) {
  .about .pic.seconds {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes second {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes second {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .about .pic {
    width: 70%;
    padding: 0rem;
  }
}

.about .pic img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}

.best {
  position: relative;
  width: 100%;
  height: auto;
  background: url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3rem 2rem;
}

@media (max-width: 500px) {
  .best {
    padding: 2rem 1rem;
  }
}

.best .card {
  margin: 1rem;
}

.best .card h4 {
  font-weight: bold;
}

.best .card .card-img-top {
  height: 23rem;
}

@media (max-width: 800px) {
  .best .card .card-img-top {
    height: 30rem;
  }
}

footer {
  position: relative;
  width: 100%;
  background: #161515;
  color: #979797;
  margin: auto 0;
  padding: 1rem 3rem;
}

footer h3 {
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  footer h3 {
    padding-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */