@mixin seven{
    @media (max-width: 1100px) { @content};
}

@mixin res {
    @media (max-width: 800px) {@content};
}

@mixin real-seven {
    @media(max-width: 700px) {@content};
}

@mixin five {
    @media (max-width: 500px) {@content};
}
  
@mixin thousand{
    @media (max-width: 1200px) { @content};
  }
  
@mixin desktop {
    @media(min-width: 1366px) {@content};
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span {
    color: #0057fa;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family:"Poppins", sans-serif;
    overflow-x: hidden;

    @include five {
        overflow-x: hidden;
    }
}   

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 4rem;
    min-height: 10vh;
    transition: 0.20s ease-in-out;
    z-index: 10;
    color: black;
    background: white;
        
    .title {
        z-index: 1;
        font-size: 1.3rem;
        cursor: pointer;
        display: flex;
        align-items:center;
        padding: 0.5rem 0  0 0;
        color: black;

        @include five {
            font-size: 1.7rem;
            display: flex;
            align-items:center;
            padding: 1.7rem 0 0 0;
        }

    }
    
    
    @include five {
        background: white;
        color: black;
        animation: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0rem 4rem;
    }



    &.navs{
        background:white;
        padding: 0rem 4rem;
        color: black;
        box-shadow: 0 3px 11px rgba(0,0,0,0.3);
        transition: 0.25s ease-in-out;
        
        @include seven {
            padding: 0 2rem;
        }
    }
    
    &.navs .title, &.navs .nav-links li a{
        color: black;
    }

    &.navs .nav-links li a:before {
        background: black;
    }
    
    @include seven {
        padding: 0 2rem;           
    }
}


 .p-bar{
    opacity: 0;
    position: absolute;
    top: -5px;
    right: 0px;
    @include five {
        opacity:1;
    }
    .bars {
        width: 2rem;
        opacity: 0;
        position: absolute;
        top:1.8rem;
        right: 30px;
        cursor: pointer;
        @include five {
            opacity: 1;
        }
    }

}

.nav-links {
    z-index: 1;
    display: flex;
    list-style: none;
    align-items:center;
    padding: 0 0 0 0;
    margin: 0rem 0 0 0;
    transition:0.25s ease-in-out;
    text-align: center;

    @include five{
        font-size: 0.9rem;
        color: black;
        padding: 1rem 0 0 0;
    }
    
    &.idknav{
            margin-top: 0;
            display: flex;
            align-items:center;
            max-height:80vh;
            transition:0.25s ease-in-out;

            @include desktop {
                max-height: 0;
            }
    }

    &.closenav {
        max-height: 0;
    }

    @include five{
        height:80vh;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        align-items:center;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    
            
            li{
                @include five { 
                    padding:50px 0;
                    text-align: center !important;    
                }
                
                
                
                a{
                    color: black;
                    text-decoration: none;  
                    padding:0.5rem 0rem;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-left: 2rem;
                    font-weight: 600;
                    transition: 0.25s ease-in-out;
                    position: relative;
                    
                    &:hover:before {
                        transform: scaleX(1);
                    }
                    
                    &:before {
                        content:"";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: black;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: 0.25s ease-in-out;
                        
                        @include five {
                            background: white;
                            text-align: center !important;
                        }
                        
                    }
                    
                    @include five {
                        margin-left: 0;
                        font-size: 1.7rem;
                        color: black;
                    }

                    }
                }
     }

.hero{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items:center;
    height: 100vh;
    z-index: 2;
    width: 100%;
    padding: 3rem 4rem;
   
    background: white;

    @include seven {
        padding:5em 0rem 3rem 0;
        flex-wrap: wrap;
        flex-direction: column;
        height:100%;
    }

    @include res {
        padding: 8rem 0rem 5rem 0;
    }

    .front-cover {
       order: 2;
       position: relative;
       width: 85%;
       height: 85%;
       padding: 0rem 1rem;
       animation: img-hero 0.60s ease-in-out;

       @include desktop {
           width: 90%;
           height:90%;
       }


       @include thousand {
        width: 90%;
        padding: 1rem;
        height: 90%;
       }

        @include five {
            height:100%;
            width: 100%;
        }

       @keyframes img-hero {
        0%{
            transform: translateX(50%);
        }
        100%{
            transform: translateX(0);
        }
    }

       
       
    @include seven {
        height:40%;
        width:40%;
        order:1;
        padding: 0;
        animation: none;
    }
    
    img {
        width: 100%;
        height: 100%;
        z-index: 3;
        position: relative;
        object-fit: cover;
        object-position: center center;
    
    @include thousand {
        margin: 0;
    }
                
    @include seven {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    }
 }

    .front-desc {
        order: 1;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 3;
        animation: desc-hero 0.60s ease-in-out;

        @include thousand{
            padding: 0 0.4rem;
        }


        @keyframes desc-hero {
            0%{
                transform: translateX(-50%);
            }
            100%{
                transform: translateX(0);
            }
        }
        
    @include seven {
        order:2;
        padding:1rem 2rem 1rem 2rem;
        animation: none;
    }

    @include res {
        padding: 2rem 2rem 1rem 2rem;
    }

    
           #abm{
                padding:0.7rem 0rem;
                text-decoration: none;
                font-weight:600;
                text-align: center;
                background: linear-gradient(90deg,#0057fa,#0077ff);
                border: none;
                max-width: 25%;
                outline: none;
                color: white;
                border-radius: 4px;
                font-size: 1rem;
                margin: 0.3rem 0;
                cursor: pointer;

                #abm:hover {
                    animation: colors 0.5s ease-in-out infinite;
                }

                @include res {
                    margin-top: 1rem;
                }

                @include seven {
                    display: block;
                    max-width: 100%;
                    margin-top: 0rem;
                    padding:0.8rem 0;
                 }
            }   

            h2 {
                
                font-size: 4em;
                line-height: 65px;
                font-weight:bold;

                @include res {
                    line-height: 35px;
                }

                @include seven {
                   font-size: 2rem;
                }
            }

    }
}

.about {
    background: white;
    position: relative;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    position: relative;
    
    @include seven {
        flex-wrap: wrap;
        padding: 5rem 2rem;
    }


    
     
        .text{
            position: relative;
            width: 100%;
            height: 100%;
        
            
            &.firsts {
                animation: first 0.75s ease-in-out;
                    @include seven {
                       animation: none;
                    }
            }
         
            @keyframes first {
                0%{
                    transform: translateX(-50%);
                }
                100%{
                    transform: translateX(0);
                }
            }

            h2{
                font-size: 4rem;
                padding: 0;
                font-weight:bold;
                

                @include seven {
                    font-size: 2.5rem;
                }
          

              }

              p{
                  font-size:1.1rem;
                  padding-right: 0.5rem;
                  padding-bottom: 0rem;

                  @include seven {
                      font-size: 1.1rem;
                      margin-top: 0.5rem;
                      padding-bottom: 3rem;
                }
              }
        }

        .pic{
            padding: 0 0 0 2rem;
            position: relative;
            width: 35%;
            height: 100%;
            transition: 0.25s ease-in-out;
            opacity: 1;

            &.seconds{
                animation: second 0.75s ease-in-out;

                @include seven {
                    animation: none;
                 }
             }
          
             @keyframes second {
                 0%{
                     opacity: 0;
                     transform: translateX(50%);
                 }
                 100%{
                    opacity: 1;
                     transform: translateX(0);
                 }
             }
            @include seven {
               width: 70%;
               padding: 0rem;
             }

            img{
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            transition: 0.25s ease-in-out;
            position: relative;
 
            }
        }

}

.best {
    position: relative; 
    width: 100%;
    height: auto;
    background:url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 2rem;

    @include five {
        padding: 2rem 1rem;
    }

    .card {
        margin:0.5rem 1rem;

        h4 {
            font-weight: bold;
        }

        .card-img-top {
            height: 23rem;
            @include res {
                height: 30rem;
            }
        }
    }

}

footer {
    position: relative;
    width: 100%;
    background: #161515;
    color: #979797;
    margin: auto 0;
    padding: 1rem 3rem;


        h3 {
            font-size: 0.8rem;
            
            @include seven {
                padding-bottom: 1rem;
            }
        }

}